# Infineon TC3XX GPIO configuration options

# Copyright (c) 2024 Infineon Technologies AG
# SPDX-License-Identifier: Apache-2.0

config GPIO_TC3XX
	bool "Infineon TC3XX GPIO driver"
	default y
	depends on DT_HAS_INFINEON_TC3XX_GPIO_ENABLED
	help
	  Enable Infineon TC3XX GPIO driver.
