/*
 * Copyright (c) 2025 Infineon Technologies AG,
 * or an affiliate of Infineon Technologies AG.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <arm/infineon/cat1c/traveo2-8m/cyt4bfcche.dtsi>
#include <arm/infineon/cat1c/traveo2-8m/system_clocks.dtsi>
#include <arm/infineon/cat1c/traveo2-8m/cyt4bf_m7.dtsi>
#include "cytvii_b_h_8m_320_cpu_common.dtsi"
#include "cytvii_b_h_8m_320_cpu_cyt4bfcche_m0p_pinctrl.dtsi"
#include <common/freq.h>

/ {
	model = "Infineon Evaluation Evk board for CYT4BFCCHE M7_0";
	compatible = "infineon,cytvii-b-h-8m-320-cpu", "infineon,CYTVIIBH8M";

	chosen {
		zephyr,sram = &sram_m7_0;
		zephyr,flash = &code_flash0;
		zephyr,dtcm = &dtcm;
		zephyr,itcm = &itcm;
		zephyr,code-partition = &m7_0_partition;
		zephyr,console = &uart3;
		zephyr,shell-uart = &uart3;
		zephyr,flash-controller = &flash_controller;
	};
};

i2c1: &scb1 {
    compatible = "infineon,cat1-i2c-pdl";
    status = "okay";

    #address-cells = <1>;
    #size-cells = <0>;

    /* I2C pins */
    pinctrl-0 = <&p18_1_scb1_i2c_sda &p18_2_scb1_i2c_scl>;
    pinctrl-names = "default";

    clocks = <&clk_hf2>;
    ifx,peri-group = <IFX_PERI_GRP_INST_SEL(1, 0)>;
    ifx,peri-clk = <0x0113>;
    ifx,peri-div = <0>; /* 8-bit divider */
    ifx,peri-div-inst = <1>;
};



&m7_0 {
	status = "okay";
};

&uart3 {
	status = "okay";
};
