# Copyright (c) 2025 Infineon Technologies AG,
# or an affiliate of Infineon Technologies AG.
#
# SPDX-License-Identifier: Apache-2.0

config BOARD_CYTVII_B_H_8M_320_CPU
	select SOC_CYT4BFCCHE_M0PLUS if BOARD_CYTVII_B_H_8M_320_CPU_CYT4BFCCHE_M0P
	select SOC_CYT4BFCCHE_M7_0 if BOARD_CYTVII_B_H_8M_320_CPU_CYT4BFCCHE_M7_0
	select SOC_CYT4BFCCHE_M7_1 if BOARD_CYTVII_B_H_8M_320_CPU_CYT4BFCCHE_M7_1
