/ {
        aliases {
                i2s-codec-tx = &i2s0;
        };
};

&scb11 {
        status = "okay";

	 audio_codec: tas2563@4c {
                compatible = "ti,tas2563";
                reg = <0x4c>;
                status = "okay";
        };
};

&dma1 {
	status = "okay";
};
/*
&clk_hf7 {
	status = "okay";
};

&clk_hf6 {
	status = "okay";
};

&clk_hf5 {
	status = "okay";
};
*/
&i2s0 {
        status = "okay";
};
