# Copyright (c) 2026 Infineon Technologies AG,
# or an affiliate of Infineon Technologies AG.
# SPDX-License-Identifier: Apache-2.0


# SOC die
config SOC_DIE_CYT2BL
    bool


# SOC packages

config SOC_PACKAGE_CYT2BL_176_LQFP
    bool

config SOC_PACKAGE_CYT2BL_144_LQFP
    bool

config SOC_PACKAGE_CYT2BL_100_LQFP
    bool

config SOC_PACKAGE_CYT2BL_80_LQFP
    bool

config SOC_PACKAGE_CYT2BL_64_LQFP
    bool


# Infineon CYT2BL series MCUs

config SOC_CYT2BL3BAS
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_64_LQFP
    select SOC_SERIES_CYT2BL3

config SOC_CYT2BL3BAE
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_64_LQFP
    select SOC_SERIES_CYT2BL3

config SOC_CYT2BL3CAS 
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_64_LQFP
    select SOC_SERIES_CYT2BL3

config SOC_CYT2BL3CAE
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_64_LQFP
    select SOC_SERIES_CYT2BL3

config SOC_CYT2BL4BAS
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_80_LQFP
    select SOC_SERIES_CYT2BL4

config SOC_CYT2BL4BAE
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_80_LQFP
    select SOC_SERIES_CYT2BL4

config SOC_CYT2BL4CAS
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_80_LQFP
    select SOC_SERIES_CYT2BL4

config SOC_CYT2BL4CAE
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_80_LQFP
    select SOC_SERIES_CYT2BL4

config SOC_CYT2BL5BAS
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_100_LQFP
    select SOC_SERIES_CYT2BL5

config SOC_CYT2BL5BAE
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_100_LQFP
    select SOC_SERIES_CYT2BL5

config SOC_CYT2BL5CAS
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_100_LQFP
    select SOC_SERIES_CYT2BL5

config SOC_CYT2BL5CAE
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_100_LQFP
    select SOC_SERIES_CYT2BL5

config SOC_CYT2BL7BAS
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_144_LQFP
    select SOC_SERIES_CYT2BL7

config SOC_CYT2BL7BAE
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_144_LQFP
    select SOC_SERIES_CYT2BL7

config SOC_CYT2BL7CAS
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_144_LQFP
    select SOC_SERIES_CYT2BL7

config SOC_CYT2BL7CAE
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_144_LQFP
    select SOC_SERIES_CYT2BL7

config SOC_CYT2BL8BAS
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_176_LQFP
    select SOC_SERIES_CYT2BL8

config SOC_CYT2BL8BAE
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_176_LQFP
    select SOC_SERIES_CYT2BL8

config SOC_CYT2BL8CAS
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_176_LQFP
    select SOC_SERIES_CYT2BL8

config SOC_CYT2BL8CAE
    bool
    select SOC_DIE_CYT2BL
    select SOC_PACKAGE_CYT2BL_176_LQFP
    select SOC_SERIES_CYT2BL8


config SOC

    default "cyt2bl3bas" if SOC_CYT2BL3BAS
    default "cyt2bl3bae" if SOC_CYT2BL3BAE
    default "cyt2bl3cas" if SOC_CYT2BL3CAS 
    default "cyt2bl3cae" if SOC_CYT2BL3CAE
    default "cyt2bl4bas" if SOC_CYT2BL4BAS
    default "cyt2bl4bae" if SOC_CYT2BL4BAE
    default "cyt2bl4cas" if SOC_CYT2BL4CAS 
    default "cyt2bl4cae" if SOC_CYT2BL4CAE
    default "cyt2bl5bas" if SOC_CYT2BL5BAS
    default "cyt2bl5bae" if SOC_CYT2BL5BAE
    default "cyt2bl5cas" if SOC_CYT2BL5CAS 
    default "cyt2bl5cae" if SOC_CYT2BL5CAE
    default "cyt2bl7bas" if SOC_CYT2BL7BAS
    default "cyt2bl7bae" if SOC_CYT2BL7BAE
    default "cyt2bl7cas" if SOC_CYT2BL7CAS 
    default "cyt2bl7cae" if SOC_CYT2BL7CAE
    default "cyt2bl8bas" if SOC_CYT2BL8BAS
    default "cyt2bl8bae" if SOC_CYT2BL8BAE
    default "cyt2bl8cas" if SOC_CYT2BL8CAS 
    default "cyt2bl8cae" if SOC_CYT2BL8CAE
