/*
 * Copyright (c) 2025 Linumiz
 * SPDX-License-Identifier: Apache-2.0
 */

/* Configure SCB3 as SPI Master */
&scb3 {
    compatible = "infineon,cat1-spi-pdl";
    status = "okay";

    #address-cells = <1>;
    #size-cells = <0>;

	slave_test: test-spi-slave@0 {
		compatible = "vnd,spi-device";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};

    dmas = <&dma1 14>, <&dma1 15>;
    dma-names = "tx", "rx";
};

&gpio_prt13 {
	status = "okay";
};