/*
 * Copyright (c) 2026 Linumiz
 * SPDX-License-Identifier: Apache-2.0
 */

/* Configure SCB5 as SPI Master */
&scb3 {
    compatible = "infineon,cat1-spi-pdl";
    status = "okay";

    #address-cells = <1>;
    #size-cells = <0>;

    /* SPI pins */
    pinctrl-0 = <&p13_0_scb3_spi_m_miso &p13_1_scb3_spi_m_mosi &p13_2_scb3_spi_m_clk>;
    pinctrl-names = "default";
    cs-gpios = <&gpio_prt13 3 GPIO_ACTIVE_LOW>;

    clocks = <&clk_hf2>;
    ifx,peri-group = <IFX_PERI_GRP_INST_SEL(1, 0)>;
    ifx,peri-clk = <0x0121>;
    ifx,peri-div = <1>; /* 16-bit divider */
    ifx,peri-div-inst = <3>;

	slave_test: test-spi-slave@0 {
		compatible = "vnd,spi-device";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};

    dmas = <&dma1 26>, <&dma1 27>;
    dma-names = "tx", "rx";
};

&gpio_prt4 {
	status = "okay";
};