# Copyright (c) 2025 Infineon Technologies AG,
# or an affiliate of Infineon Technologies AG.

# SPDX-License-Identifier: Apache-2.0

config BOARD_KIT_T2G_B_E_LITE_CYT2BL5CAE_M0P
	bool
	select SOC_CYT2BL5CAE
	select INFINEON_CAT1A_M0PLUS

config BOARD_KIT_T2G_B_E_LITE_CYT2BL5CAE_M4
	bool
	select SOC_CYT2BL5CAE
	select INFINEON_CAT1A_M4