# Copyright (c) 2025 Linumiz GmbH
# SPDX-License-Identifier: Apache-2.0

config MFD_BQ2562X
	bool "BQ2562x switch multi-function device driver"
	default y
	depends on DT_HAS_TI_BQ2562X_ENABLED
	select I2C
