# Copyright (c) 2026 Immo Birnbaum
# SPDX-License-Identifier: Apache-2.0

config MDIO_CDNS_GEM
	bool "Cadence GEM MDIO controller driver"
	default y
	depends on DT_HAS_CDNS_GEM_MDIO_ENABLED
	depends on ETH_CDNS_GEM_CORE
	help
	  Enable Cadence GEM MDIO support.

if MDIO_CDNS_GEM

config MDIO_CDNS_GEM_IDLE_TIMEOUT_US
	int "MDIO idle wait timeout"
	default 1000000
	help
	  Timeout in microseconds to wait for the GEM MDIO Bus
	  to become idle before or after a read or write operation.

endif # MDIO_CDNS_GEM
