# Copyright (c) 2025 Linumiz GmbH
# SPDX-License-Identifier: Apache-2.0

# Infineon CAT1C based MCU default configuration

if SOC_SERIES_CYT4DN

config NUM_IRQS
	default 16

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,/cpus/cpu@0,clock-frequency)

config BUILD_OUTPUT_HEX
	default y

config SOC_FAMILY_INFINEON_CAT1C_CM0P_IMAGE_ROM_SIZE
	hex
	default 0x80000 if SOC_CYT4DN_CM0P_IMAGE_SLEEP

config SOC_FAMILY_INFINEON_CAT1C_CM0P_IMAGE_RAM_SIZE
	hex
	default 0x4000 if SOC_CYT4DN_CM0P_IMAGE_SLEEP

endif # SOC_SERIES_CYT4DN 
