# Copyright (c) 2025 Linumiz GmbH
# SPDX-License-Identifier: Apache-2.0

# Infineon CAT1C based MCU default configuration

if SOC_SERIES_CYT4DN

# Cortex-M7 has additional 8 software irqs directly connected to IRQ lines
config NUM_IRQS
	default 794 if INFINEON_CAT1C_M0PLUS
	default 802 if INFINEON_CAT1C_M7

choice INFINEON_CAT1C_CORE
	default INFINEON_CAT1C_M0PLUS if SOC_CYT4DNJBZS_M0PLUS
	default INFINEON_CAT1C_M7_0 if SOC_CYT4DNJBZS_M7_0
	default INFINEON_CAT1C_M7_1 if SOC_CYT4DNJBZS_M7_1
endchoice

endif # SOC_SERIES_CYT4DN 
