# Copyright (c) 2024 Cypress Semiconductor Corporation (an Infineon company) or
# an affiliate of Cypress Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_INFINEON_CAT1C

rsource "*/Kconfig"

config SOC_FAMILY_INFINEON_CAT1C_CM0P_IMAGE_ROM_SIZE
	hex

config SOC_FAMILY_INFINEON_CAT1C_CM0P_IMAGE_RAM_SIZE
	hex

endif # SOC_FAMILY_INFINEON_CAT1C
