/*
 * Copyright (c) 2025 Texas Instruments
 * Copyright (c) 2025 Linumiz
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <ti/mspm0/g/mspm0g3507.dtsi>
#include <ti/mspm0/g/mspm0g1x0x_g3x0x-pinctrl.dtsi>
#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/clock/mspm0_clock.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
	model = "TI LP_MSPM0G3507/MSPM0G3507";
	compatible = "ti,mspm0g3507";

	aliases {
		led0 = &led0;
		pwm-led0 = &pwm_led0;
	};

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,code-partition = &slot0_partition;
		zephyr,canbus = &mcp2515;
	};

	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpiob 22 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
		};
	};

	pwm_leds {
		compatible = "pwm-leds";

		pwm_led0: pwm_led0 {
			pwms = <&pwma0 0 PWM_MSEC(100) PWM_POLARITY_NORMAL>;
		};
	};

#if 0
	zephyr,user {
		io-channels = <&ads1310 0>, <&ads1310 1>;
	};
#endif
};

&cpu0 {
	clock-frequency = <DT_FREQ_M(80)>;
};

&ulpclk {
	clock-frequency = <DT_FREQ_M(40)>;
	clk-div = <2>;
};

&mclk {
	clock-frequency = <DT_FREQ_M(80)>;
	clocks = <&hsclk 0>;
};

&hsclk {
	clocks = <&syspll2x 0>;
	status = "okay";
};

#if 0
&spi0 {
	pinctrl-0 = <&spi0_sclk_pa12 &spi0_pico_pa14 &spi0_poci_pa13 &spi0_cs0_pa8>; //&ads1310_nrst_pa27_pullup>;
#endif

&spi1 {
	pinctrl-0 = <&spi1_sclk_pb9 &spi1_pico_pb8 &spi1_poci_pb7>; //&spi1_cs0_pb6>;
	pinctrl-names = "default";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	cs-gpios = <&gpiob 6 GPIO_ACTIVE_LOW>;

	mcp2515: mcp2518fd@0 {
		compatible = "microchip,mcp2515";
		status = "okay";
		spi-max-frequency = <1000000>;
		int-gpios = <&gpiob 18 GPIO_ACTIVE_LOW>;
		reg = <0x0>;
		osc-freq = <16000000>;
		can-transceiver {
			min-bitrate = <60000>;
			max-bitrate = <1000000>;
		};

	};

#if 0
	ads1310: ads1310@0 {
		compatible = "ti,ads131m02";
		reg = <0>;
//		clocks = <&clkmux MSPM0_CLOCK_BUS_CLK_OUT>;
//		clock-frequency = <2000000>;
		#io-channel-cells = <1>;
//		drdy-gpios = <&gpioa 26 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		drdy-gpios = <&gpiob 18 (GPIO_ACTIVE_LOW)>;
		spi-max-frequency = <8192000>;
		#address-cells = <1>;
		#size-cells = <0>;

		channel@0 {
			reg = <0>;
			zephyr,gain = "ADC_GAIN_1";
			zephyr,reference = "ADC_REF_INTERNAL";
			zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			zephyr,resolution = <24>;
		};

		channel@1 {
			reg = <1>;
			zephyr,gain = "ADC_GAIN_1";
			zephyr,reference = "ADC_REF_INTERNAL";
			zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			zephyr,resolution = <24>;
		};

	};
#endif
};

&syspll2x {
	status = "okay";
};

&flash0 {
	status = "okay";

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x8000>;
		};

		slot0_partition: partition@8000 {
			label = "image-0";
			reg = <0x00008000 0xC000>;
		};

		slot1_partition: partition@14000 {
			label = "image-1";
			reg = <0x00014000 0xC000>;
		};
	};
};

&pinctrl {
	status = "okay";
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&uart0 {
	status = "okay";

	current-speed = <115200>;
	pinctrl-0 = <&uart0_tx_pa10 &uart0_rx_pa11>;
	pinctrl-names = "default";
};

&pwma0 {
	status = "okay";

	pinctrl-0 = <&tima0_ccp0_pa0>;
	pinctrl-names = "default";
	ti,cc-index = <0>;
	ti,pwm-mode = "EDGE_ALIGN";
	ti,period = <1000>;
};
