/*
 * Copyright (c) 2025 Linumiz GmbH
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <arm/infineon/cat1c/cyt4dn/cyt4dn.dtsi>
#include <arm/infineon/cat1c/cyt4dn/system_clocks.dtsi>
#include <arm/infineon/cat1c/cyt4dn/cyt4dn_m7.dtsi>
#include <arm/infineon/cat1c/cyt4dn/memory_partition.dtsi>
#include <zephyr/dt-bindings/pinctrl/ifx_cat1-pinctrl.h>
#include "kit_t2g_c2d6m_lite_common.dtsi"

/ {

	model = "Infineon Evaluation board for CYT4DNJBZS M7";
	compatible = "infineon,kit_t2g_c2d6m_lite", "infineon,cyt4dn";

	aliases {
		uart-7 = &uart7;
		led0 = &user_led1;
		led1 = &user_led1;
		sw0 = &user_bt0;
	};

	chosen {
		zephyr,sram = &cm7_0_code;
		zephyr,flash = &cm7_0_data;
		zephyr,dtcm = &dtcm;
		zephyr,itcm = &itcm;
		zephyr,console = &uart7;
		zephyr,shell-uart = &uart7;
	};

	leds {
		compatible = "gpio-leds";

		user_led0: led_0 {
			label = "LED_0";
			gpios = <&gpio_prt7 5 GPIO_ACTIVE_HIGH>;
		};

		user_led1: led_1 {
			label = "LED_1";
			gpios = <&gpio_prt7 6 GPIO_ACTIVE_HIGH>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		user_bt0: user_btn0 {
			label = "SW_1";
			gpios = <&gpio_prt0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};
};

uart7: &scb7 {
	compatible = "infineon,cat1-uart-pdl";
	status = "okay";
	current-speed = <115200>;
	clocks = <&clk_hf2>;
	ifx,peri-group = <IFX_PERI_GRP_INST_SEL(1, 0)>;
	ifx,peri-clk = <0x010F>;
	ifx,peri-div = <0>; /* 8-bit divider */
	ifx,peri-div-inst = <0>;

	/* UART pins */
	pinctrl-0 = <&p9_0_scb7_uart_rx &p9_1_scb7_uart_tx>;
	pinctrl-names = "default";
};

i2c11: &scb11 {
       compatible = "infineon,cat1-i2c-pdl";
       status = "okay";

       #address-cells = <1>;
       #size-cells = <0>;

       pinctrl-0 = <&p0_4_scb11_i2c_scl &p0_5_scb11_i2c_sda>;
       pinctrl-names = "default";

       clocks = <&clk_hf2>;
       ifx,peri-group = <IFX_PERI_GRP_INST_SEL(1, 0)>;
       ifx,peri-clk = <0x0113>;
       ifx,peri-div = <0>; /* 8-bit divider */
       ifx,peri-div-inst = <1>;

       accel@53 {
               compatible = "adi,adxl345";
               reg = <0x53>;
       };
};
